version: '2'

services:
    projector:
        extends:
            file: docker/templates.yml
            service: php-cli
        command: php src/Common/projector.php

    purchase_projector:
        extends:
            file: docker/templates.yml
            service: php-cli
        command: php src/Purchase/projector.php

    sales_projector:
        extends:
            file: docker/templates.yml
            service: php-cli
        command: php src/Sales/projector.php

    dashboard_projector:
        extends:
            file: docker/templates.yml
            service: php-cli
        command: php src/Dashboard/projector.php

    process_manager:
        extends:
            file: docker/templates.yml
            service: php-cli
        command: php src/Common/process_manager.php

    stock_process_manager:
        extends:
            file: docker/templates.yml
            service: php-cli
        command: php src/Stock/process_manager.php
